@import "../../mybootstrap/less/variables.less";

body {
	padding-top: 0;
}

#search-button {
	-webkit-appearance: none;
	font: inherit;
	width: 100%;
	border: 1px solid #768daa;
	background-color: #768daa;
	border-radius: 0;
	cursor: pointer;
	color: #fff;
	margin: 0;
	background-image: url("../../images/search.svg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position:center;
}

@media (min-width: @screen-md-min) {
	#search-input-col {
		padding-right: 0;
	}
	#search-button-col {
		padding-left: 0;
	}
}

#query-examples {
	margin-bottom: 0;
}

#query-examples > dt {
	text-align: left;
	width: 200px;
	color: #757575;
}

#query-examples > dd {
	margin-left: 200px;
}

#query-examples-wrapper {
	margin-top: 5%;
	margin-bottom: 18%;
}

#query-examples-wrapper:after {
	content: "query examples";
}

#info-panel {
	text-align: justify;
}

#info-panel:after {
	content: "about semedico";
}

#info-panel, #attributions-panel {
	height: 157px;
	border: 0;
}

#attributions-panel:after {
	content: "attributions";
}

#search-input-field-label {
	padding-left: 2px;
}