[submodule "semedico-core"]
	path = semedico-core
	url = https://github.com/khituras/semedico-core.git
[submodule "semedico-frontend"]
	path = semedico-frontend
	url = https://github.com/khituras/semedico-frontend.git
[submodule "semedico-resource-management"]
	path = semedico-resource-management
	url = https://github.com/khituras/semedico-resource-management.git
