#columnsContainer {
	width: 900px;
	margin-left: 50px;
}

#leftColumn {
	float: left;
}

#rightColumn {
	float: left;
	margin-left: 200px;
	margin-top: 100px;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#numPairs, #numTop, .termInput {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.toleft {
	float: left;
}

.toright {
	float:right;
}