/* Chemicals and Drugs */

.chemicals, #chemicals dt {
	background-color: #f1a726;
}

.chemicalsColorB, #chemicals, #chemicals dd, #chemicalsDialogBox, #chemicalsAutocompleteHead, li.chemicalsAutocompleteTerm {
	background-color: #f0bd63;
}

/* Genes and Proteins */

.proteins, #proteins dt {
	background-color: #f1d726;
}

.proteinsColorB, #proteins, #proteins dd, #proteinsDialogBox, #proteinsAutocompleteHead, li.proteinsAutocompleteTerm {
	background-color: #f3e279;
}

/* CD Antigens */

.cdAntigens, #cdAntigens dt {
	background-color: #d66b6b;
}

.cdAntigensColorB, #cdAntigens, #cdAntigens dd, #cdAntigensDialogBox, #cdAntigensAutocompleteHead, li.cdAntigensAutocompleteTerm {
	background-color: #e8baba;
}

/* Minor Histocompatibility Antigens */

.mha, #mha dt {
	background-color: #e8a26a;
}

.mhaColorB, #mha, #mha dd, #mhaDialogBox, #mhaAutocompleteHead, li.mhaAutocompleteTerm {
	background-color: #e8bb97;
}

/* Organisms */

.organisms, #organisms dt {
	background-color: #bc815e;
}

.organismsColorB, #organisms, #organisms dd, #organismsDialogBox, #organismsAutocompleteHead, li.organismsAutocompleteTerm {
	background-color: #bda597;
}

/* Blood Cells */

.bloodCells, #bloodCells dt {
	background-color: #ea76c3;
}

.bloodCellsColorB, #bloodCells, #bloodCells dd, #bloodCellsDialogBox, #bloodCellsAutocompleteHead, li.bloodCellsAutocompleteTerm {
	background-color: #ebbcdb;
}

/* Cellular Processes */

.cellularProcesses, #cellularProcesses dt {
	background-color: #9167ce;
}

.cellularProcessesColorB, #cellularProcesses, #cellularProcesses dd, #cellularProcessesDialogBox, #cellularProcessesAutocompleteHead, li.cellularProcessesAutocompleteTerm {
	background-color: #b6a5cf;
}

/* Investigative Techniques */

.techniques, #techniques dt {
	background-color: #6edcd8;
}

.techniquesColorB, #techniques, #techniques dd, #techniquesDialogBox, #techniquesAutocompleteHead, li.techniquesAutocompleteTerm {
	background-color: #b0dcda;
}

/* Immunity and Immune Processes */

.immunity, #immunity dt {
	background-color: #cce868;
}

.immunityColorB, #immunity, #immunity dd, #immunityDialogBox, #immunityAutocompleteHead, li.immunityAutocompleteTerm {
	background-color: #d6e897;
}

/* Epitopes and Binding Sites */

.epitopes, #epitopes dt {
	background-color: #dfba72;
}

.epitopesColorB, #epitopes, #epitopes dd, #epitopesDialogBox, #epitopesAutocompleteHead, li.epitopesAutocompleteTerm {
	background-color: #fae9c8;
}

/* Gene Expression and its Regulation */

.geneExression, #geneExression dt {
	background-color: #eff37a;
}

.geneExressionColorB, #geneExression, #geneExression dd, #geneExressionDialogBox, #geneExressionAutocompleteHead, li.geneExressionAutocompleteTerm {
	background-color: #feffcc;
}

/* Transplantation */

.transplantation, #transplantation dt {
	background-color: #ec6a30;
}

.transplantationColorB, #transplantation, #transplantation dd, #transplantationDialogBox, #transplantationAutocompleteHead, li.transplantationAutocompleteTerm {
	background-color: #eeab8e;
}

/* Diseases and Malignancies */

.diseases, #diseases dt {
	background-color: #5be15b;
}

.diseasesColorB, #diseases, #diseases dd, #diseasesDialogBox, #diseasesAutocompleteHead, li.diseasesAutocompleteTerm {
	background-color: #9de19d;
}

/* Signs and Symptoms */

.signs, #signs dt {
	background-color: #9ac261;
}

.signsColorB, #signs, #signs dd, #signsDialogBox, #signsAutocompleteHead, li.signsAutocompleteTerm {
	background-color: #b2c29b;
}

/* Therapies and Treatments */

.therapies, #therapies dt {
	background-color: #f3c17a;
}

.therapiesColorB, #therapies, #therapies dd, #therapiesDialogBox, #therapiesAutocompleteHead, li.therapiesAutocompleteTerm {
	background-color: #f3d4aa;
}

/* Therapies and Treatments */

.therapies, #therapies dt {
	background-color: #f3c17a;
}

.therapiesColorB, #therapies, #therapies dd, #therapiesDialogBox, #therapiesAutocompleteHead, li.therapiesAutocompleteTerm {
	background-color: #f3d4aa;
}

/* Hematopoietic Progenitor Cells */

.progenitors, #progenitors dt {
	background-color: #c265ca;
}

.progenitorsColorB, #progenitors, #progenitors dd, #progenitorsDialogBox, #progenitorsAutocompleteHead, li.progenitorsAutocompleteTerm {
	background-color: #d8afdb;
}

/* Immunoglobins and Antibodies */

.antibodies, #antibodies dt {
	background-color: #f2ee79;
}

.antibodiesColorB, #antibodies, #antibodies dd, #antibodiesDialogBox, #antibodiesAutocompleteHead, li.antibodiesAutocompleteTerm {
	background-color: #f2f1c2;
}

/* First Authors */

.firstAuthors, #firstAuthors dt {
	background-color: #d6cb6b;
}

.firstAuthorsColorB, #firstAuthors, #firstAuthors dd, #firstAuthorsDialogBox, #firstAuthorsAutocompleteHead, li.firstAuthorsAutocompleteTerm {
	background-color: #feffcc;
}

/* Last Authors */

.lastAuthors, #lastAuthors dt {
	background-color: #b9d66b;
}

.lastAuthorsColorB, #lastAuthors, #lastAuthors dd, #lastAuthorsDialogBox, #lastAuthorsAutocompleteHead, li.lastAuthorsAutocompleteTerm {
	background-color: #cbd7ac;
}

/* Journals */

.journals, #journals dt {
	background-color: #6b72d6;
}

.journalsColorB, #journals, #journals dd, #journalsDialogBox, #journalsAutocompleteHead, li.journalsAutocompleteTerm {
	background-color: #ceced9;
}

/* Years */

.years, #years dt {
	background-color: #7fabb1;
}

.yearsColorB, #years, #years dd, #yearsDialogBox, #yearsAutocompleteHead, li.yearsAutocompleteTerm {
	background-color: #a8dee5;
}

/* Keyword */

.keywords, #keywords dt {
	background-color: #e7f7d5;
}

.keywordsColorB, #keywords, #keywords dd, #keywordsDialogBox, #keywordsAutocompleteHead, li.keywordsAutocompleteTerm {
	background-color: #e7f7d5;
}

/* Concepts */

.concepts, #concepts dt {
	background-color: #ffffff;
}

.conceptsColorB, #concepts, #concepts dd, #conceptsDialogBox, #conceptsAutocompleteHead, li.conceptsAutocompleteTerm {
	background-color: #ffffff;
}

/* Newer facets; it has been tried to reduce the CSS selector lists without braking anything */

/* Chemicals and Drugs (Ageing) */

.chemicals_ageing {
	background-color: #f1a726;
}

#chemicals_ageing dd {
	background-color: #f0bd63;
}

/* Diseases (Ageing) */

.diseases_ageing {
	background-color: #5be15b;
}

#diseases_ageing dd {
	background-color: #9de19d;
}

/* Organisms (Ageing) */

.organisms_ageing {
	background-color: #bc815e;
}

#organisms_ageing dd {
	background-color: #bda597;
}

/* Anatomy */

.anatomy {
	background-color: #EE7787;
}

#anatomy dd {
	background-color: #EEA7B0;
}

/* Analytical, Diagnostic and Therapeutic Techniques and Equipment */

.analytical {
	background-color: #6BD5D7;
}

#analytical dd {
	background-color: #97D6D7;
}

/* Health Care */

.healthCare {
	background-color: #C83CBC;
}

#healthCare dd {
	background-color: #C878C1;
}

/* Named Groups */

.namedGroups {
	background-color: #E8E82E;
}

#namedGroups dd {
	background-color: #E9E98C;
}

/* Phenomena and Processes */

.phenomena {
	background-color: #857AD6;
}

#phenomena dd {
	background-color: #ABA6D7;
}

/* Authors */

.authors {
	background-color: #E6B65D;
}

#authors dd {
	background-color: #E6CEA1;
}

/* Psychiatry and Psychology */

.psychiatry {
	background-color: #9ac261;
}

#psychiatry dd {
	background-color: #b2c29b;
}

/* Disciplines and Occupations */

.disciplines {
	background-color: #eff37a;
}

#disciplines dd {
	background-color: #feffcc;
}

/* Technology, Industry, Agriculture */

.technology {
	background-color: #A6A6A6;
}

#technology dd {
	background-color: #DADADA;
}

/* Publication Characteristics */

.publicationCharacteristics {
	background-color: #6b72d6;
}

#publicationCharacteristics dd {
	background-color: #ceced9;
}

/* Anthropology, Education, Sociology and Social Phenomena */

.anthropology {
	background-color: #2BD580;
}

#anthropology dd {
	background-color: #6CD7A1;
}

/* Humanities */

.humanities {
	background-color: #dfba72;
}

#humanities dd {
	background-color: #fae9c8;
}

/* Information Science */

.informationScience {
	background-color: #16D9D6;
}

#informationScience dd {
	background-color: #57DAD7;
}

/* Document Classes */

.documentClasses {
	background-color: #3BC457;
}

#documentClasses dd {
	background-color: #76C586;
}