/* Chemicals and Drugs */

.chemicals.primaryFacetStyle {
	background-color: #f1a726;
}

.chemicals.secondaryFacetStyle {
	background-color: #f0bd63;
}

/* Genes and Proteins */

.proteins.primaryFacetStyle {
	background-color: #f1d726;
}

.proteins.secondaryFacetStyle {
	background-color: #f3e279;
}

/* CD Antigens */

.cdAntigens.primaryFacetStyle {
	background-color: #d66b6b;
}

.cdAntigens.secondaryFacetStyle {
	background-color: #e8baba;
}

/* Minor Histocompatibility Antigens */

.mha.primaryFacetStyle {
	background-color: #e8a26a;
}

.mha.secondaryFacetStyle {
	background-color: #e8bb97;
}

/* Organisms */

.organisms.primaryFacetStyle {
	background-color: #bc815e;
}

.organisms.secondaryFacetStyle {
	background-color: #bda597;
}

/* Blood Cells */

.bloodCells.primaryFacetStyle {
	background-color: #ea76c3;
}

.bloodCells.secondaryFacetStyle {
	background-color: #ebbcdb;
}

/* Cellular Processes */

.cellularProcesses.primaryFacetStyle {
	background-color: #9167ce;
}

.cellularProcesses.secondaryFacetStyle {
	background-color: #b6a5cf;
}

/* Investigative Techniques */

.techniques.primaryFacetStyle {
	background-color: #6edcd8;
}

.techniques.secondaryFacetStyle {
	background-color: #b0dcda;
}

/* Immunity and Immune Processes */

.immunity.primaryFacetStyle {
	background-color: #cce868;
}

.immunity.secondaryFacetStyle {
	background-color: #d6e897;
}

/* Epitopes and Binding Sites */

.epitopes.primaryFacetStyle {
	background-color: #dfba72;
}

.epitopes.secondaryFacetStyle {
	background-color: #fae9c8;
}

/* Gene Expression and its Regulation */

.geneExression.primaryFacetStyle {
	background-color: #eff37a;
}

.geneExression.secondaryFacetStyle {
	background-color: #feffcc;
}

/* Transplantation */

.transplantation.primaryFacetStyle {
	background-color: #ec6a30;
}

.transplantation.secondaryFacetStyle {
	background-color: #eeab8e;
}

/* Diseases and Malignancies */

.diseases.primaryFacetStyle {
	background-color: #5be15b;
}

.diseases.secondaryFacetStyle {
	background-color: #9de19d;
}

/* Signs and Symptoms */

.signs.primaryFacetStyle {
	background-color: #9ac261;
}

.signs.secondaryFacetStyle {
	background-color: #b2c29b;
}

/* Therapies and Treatments */

.therapies.primaryFacetStyle {
	background-color: #f3c17a;
}

.therapies.secondaryFacetStyle {
	background-color: #f3d4aa;
}

/* Therapies and Treatments */

.therapies.primaryFacetStyle {
	background-color: #f3c17a;
}

.therapies.secondaryFacetStyle {
	background-color: #f3d4aa;
}

/* Hematopoietic Progenitor Cells */

.progenitors.primaryFacetStyle {
	background-color: #c265ca;
}

.progenitors.secondaryFacetStyle {
	background-color: #d8afdb;
}

/* Immunoglobins and Antibodies */

.antibodies.primaryFacetStyle {
	background-color: #f2ee79;
}

.antibodies.secondaryFacetStyle {
	background-color: #f2f1c2;
}

/* First Authors */

.firstAuthors.primaryFacetStyle {
	background-color: #d6cb6b;
}

.firstAuthors.secondaryFacetStyle {
	background-color: #feffcc;
}

/* Last Authors */

.lastAuthors.primaryFacetStyle {
	background-color: #b9d66b;
}

.lastAuthors.secondaryFacetStyle {
	background-color: #cbd7ac;
}

/* Journals */

.journals.primaryFacetStyle {
	background-color: #6b72d6;
}

.journals.secondaryFacetStyle {
	background-color: #ceced9;
}

/* Years */

.years.primaryFacetStyle {
	background-color: #7fabb1;
}

.years.secondaryFacetStyle {
	background-color: #a8dee5;
}

/* Keyword */

.keywords.primaryFacetStyle {
	background-color: #e7f7d5;
}

.keywords.secondaryFacetStyle {
	background-color: #e7f7d5;
}

/* Concepts */

.concepts.primaryFacetStyle {
	background-color: #ffffff;
}

.concepts.secondaryFacetStyle {
	background-color: #ffffff;
}

/* Newer facets; it has been tried to reduce the CSS selector lists without braking anything */

/* Chemicals and Drugs (Ageing) */

.chemicals_ageing.primaryFacetStyle {
	background-color: #f1a726;
}

.chemicals_ageing.secondaryFacetStyle {
	background-color: #f0bd63;
}

/* Diseases (Ageing) */

.diseases_ageing.primaryFacetStyle {
	background-color: #5be15b;
}

.diseases_ageing.secondaryFacetStyle {
	background-color: #9de19d;
}

/* Organisms (Ageing) */

.organisms_ageing.primaryFacetStyle {
	background-color: #bc815e;
}

.organisms_ageing.secondaryFacetStyle {
	background-color: #bda597;
}

/* Anatomy */

.anatomy.primaryFacetStyle {
	background-color: #EE7787;
}

.anatomy.secondaryFacetStyle {
	background-color: #EEA7B0;
}

/* Analytical, Diagnostic and Therapeutic Techniques and Equipment */

.analytical.primaryFacetStyle {
	background-color: #6BD5D7;
}

.analytical.secondaryFacetStyle {
	background-color: #97D6D7;
}

/* Health Care */

.healthCare.primaryFacetStyle {
	background-color: #C83CBC;
}

.healthCare.secondaryFacetStyle {
	background-color: #C878C1;
}

/* Named Groups */

.namedGroups.primaryFacetStyle {
	background-color: #E8E82E;
}

.namedGroups.secondaryFacetStyle {
	background-color: #E9E98C;
}

/* Phenomena and Processes */

.phenomena.primaryFacetStyle {
	background-color: #857AD6;
}

.phenomena.secondaryFacetStyle {
	background-color: #ABA6D7;
}

/* Authors */

.authors.primaryFacetStyle {
	background-color: #E6B65D;
}

.authors.secondaryFacetStyle {
	background-color: #E6CEA1;
}

/* Psychiatry and Psychology */

.psychiatry.primaryFacetStyle {
	background-color: #9ac261;
}

.psychiatry.secondaryFacetStyle {
	background-color: #b2c29b;
}

/* Disciplines and Occupations */

.disciplines.primaryFacetStyle {
	background-color: #eff37a;
}

.disciplines.seconaryFacetStyle {
	background-color: #feffcc;
}

/* Technology, Industry, Agriculture */

.technology.primaryFacetStyle {
	background-color: #A6A6A6;
}

.technology.secondaryFacetStyle {
	background-color: #DADADA;
}

/* Publication Characteristics */

.publicationCharacteristics.primaryFacetStyle {
	background-color: #6b72d6;
}

.publicationCharacteristics.secondaryFacetStyle {
	background-color: #ACAFD7;
}

/* Anthropology, Education, Sociology and Social Phenomena */

.anthropology.primaryFacetStyle {
	background-color: #2BD580;
}

.anthropology.secondaryFacetStyle {
	background-color: #6CD7A1;
}

/* Humanities */

.humanities.primaryFacetStyle {
	background-color: #dfba72;
}

.humanities.secondaryFacetStyle {
	background-color: #fae9c8;
}

/* Information Science */

.informationScience.primaryFacetStyle {
	background-color: #16D9D6;
}

.informationScience.secondaryFacetStyle {
	background-color: #57DAD7;
}

/* Document Classes */

.documentClasses.primaryFacetStyle {
	background-color: #3BC457;
}

.documentClasses.secondaryFacetStyle {
	background-color: #76C586;
}

/* B-Terms */

.bTerms.primaryFacetStyle {
	background-color: #F4F999;
}

.bTerms.secondaryFacetStyle {
	background-color: #FFFFF7;
}