/* Chemicals and Drugs */

.chemicalsColorA, #chemicals dt {
	background-color: #f1a726;
}

.chemicalsColorB, #chemicals, #chemicals dd, #chemicalsDialogBox, #chemicalsAutocompleteHead, li.chemicalsAutocompleteTerm {
	background-color: #f0bd63;
}

/* Genes and Proteins */

.proteinsColorA, #proteins dt {
	background-color: #f1d726;
}

.proteinsColorB, #proteins, #proteins dd, #proteinsDialogBox, #proteinsAutocompleteHead, li.proteinsAutocompleteTerm {
	background-color: #f3e279;
}

/* CD Antigens */

.cdAntigensColorA, #cdAntigens dt {
	background-color: #d66b6b;
}

.cdAntigensColorB, #cdAntigens, #cdAntigens dd, #cdAntigensDialogBox, #cdAntigensAutocompleteHead, li.cdAntigensAutocompleteTerm {
	background-color: #e8baba;
}

/* Minor Histocompatibility Antigens */

.mhaColorA, #mha dt {
	background-color: #e8a26a;
}

.mhaColorB, #mha, #mha dd, #mhaDialogBox, #mhaAutocompleteHead, li.mhaAutocompleteTerm {
	background-color: #e8bb97;
}

/* Organisms */

.organismsColorA, #organisms dt {
	background-color: #bc815e;
}

.organismsColorB, #organisms, #organisms dd, #organismsDialogBox, #organismsAutocompleteHead, li.organismsAutocompleteTerm {
	background-color: #bda597;
}

/* Blood Cells */

.bloodCellsColorA, #bloodCells dt {
	background-color: #ea76c3;
}

.bloodCellsColorB, #bloodCells, #bloodCells dd, #bloodCellsDialogBox, #bloodCellsAutocompleteHead, li.bloodCellsAutocompleteTerm {
	background-color: #ebbcdb;
}

/* Cellular Processes */

.cellularProcessesColorA, #cellularProcesses dt {
	background-color: #9167ce;
}

.cellularProcessesColorB, #cellularProcesses, #cellularProcesses dd, #cellularProcessesDialogBox, #cellularProcessesAutocompleteHead, li.cellularProcessesAutocompleteTerm {
	background-color: #b6a5cf;
}

/* Investigative Techniques */

.techniquesColorA, #techniques dt {
	background-color: #6edcd8;
}

.techniquesColorB, #techniques, #techniques dd, #techniquesDialogBox, #techniquesAutocompleteHead, li.techniquesAutocompleteTerm {
	background-color: #b0dcda;
}

/* Immunity and Immune Processes */

.immunityColorA, #immunity dt {
	background-color: #cce868;
}

.immunityColorB, #immunity, #immunity dd, #immunityDialogBox, #immunityAutocompleteHead, li.immunityAutocompleteTerm {
	background-color: #d6e897;
}

/* Epitopes and Binding Sites */

.epitopesColorA, #epitopes dt {
	background-color: #dfba72;
}

.epitopesColorB, #epitopes, #epitopes dd, #epitopesDialogBox, #epitopesAutocompleteHead, li.epitopesAutocompleteTerm {
	background-color: #fae9c8;
}

/* Gene Expression and its Regulation */

.geneExressionColorA, #geneExression dt {
	background-color: #eff37a;
}

.geneExressionColorB, #geneExression, #geneExression dd, #geneExressionDialogBox, #geneExressionAutocompleteHead, li.geneExressionAutocompleteTerm {
	background-color: #feffcc;
}

/* Transplantation */

.transplantationColorA, #transplantation dt {
	background-color: #ec6a30;
}

.transplantationColorB, #transplantation, #transplantation dd, #transplantationDialogBox, #transplantationAutocompleteHead, li.transplantationAutocompleteTerm {
	background-color: #eeab8e;
}

/* Diseases and Malignancies */

.diseasesColorA, #diseases dt {
	background-color: #5be15b;
}

.diseasesColorB, #diseases, #diseases dd, #diseasesDialogBox, #diseasesAutocompleteHead, li.diseasesAutocompleteTerm {
	background-color: #9de19d;
}

/* Signs and Symptoms */

.signsColorA, #signs dt {
	background-color: #9ac261;
}

.signsColorB, #signs, #signs dd, #signsDialogBox, #signsAutocompleteHead, li.signsAutocompleteTerm {
	background-color: #b2c29b;
}

/* Therapies and Treatments */

.therapiesColorA, #therapies dt {
	background-color: #f3c17a;
}

.therapiesColorB, #therapies, #therapies dd, #therapiesDialogBox, #therapiesAutocompleteHead, li.therapiesAutocompleteTerm {
	background-color: #f3d4aa;
}

/* Therapies and Treatments */

.therapiesColorA, #therapies dt {
	background-color: #f3c17a;
}

.therapiesColorB, #therapies, #therapies dd, #therapiesDialogBox, #therapiesAutocompleteHead, li.therapiesAutocompleteTerm {
	background-color: #f3d4aa;
}

/* Hematopoietic Progenitor Cells */

.progenitorsColorA, #progenitors dt {
	background-color: #c265ca;
}

.progenitorsColorB, #progenitors, #progenitors dd, #progenitorsDialogBox, #progenitorsAutocompleteHead, li.progenitorsAutocompleteTerm {
	background-color: #d8afdb;
}

/* Immunoglobins and Antibodies */

.antibodiesColorA, #antibodies dt {
	background-color: #f2ee79;
}

.antibodiesColorB, #antibodies, #antibodies dd, #antibodiesDialogBox, #antibodiesAutocompleteHead, li.antibodiesAutocompleteTerm {
	background-color: #f2f1c2;
}

/* First Authors */

.firstAuthorsColorA, #firstAuthors dt {
	background-color: #d6cb6b;
}

.firstAuthorsColorB, #firstAuthors, #firstAuthors dd, #firstAuthorsDialogBox, #firstAuthorsAutocompleteHead, li.firstAuthorsAutocompleteTerm {
	background-color: #feffcc;
}

/* Last Authors */

.lastAuthorsColorA, #lastAuthors dt {
	background-color: #b9d66b;
}

.lastAuthorsColorB, #lastAuthors, #lastAuthors dd, #lastAuthorsDialogBox, #lastAuthorsAutocompleteHead, li.lastAuthorsAutocompleteTerm {
	background-color: #cbd7ac;
}

/* Journals */

.journalsColorA, #journals dt {
	background-color: #6b72d6;
}

.journalsColorB, #journals, #journals dd, #journalsDialogBox, #journalsAutocompleteHead, li.journalsAutocompleteTerm {
	background-color: #ceced9;
}

/* Years */

.yearsColorA, #years dt {
	background-color: #7fabb1;
}

.yearsColorB, #years, #years dd, #yearsDialogBox, #yearsAutocompleteHead, li.yearsAutocompleteTerm {
	background-color: #a8dee5;
}

/* Keyword */

.keywordsColorA, #keywords dt {
	background-color: #e7f7d5;
}

.keywordsColorB, #keywords, #keywords dd, #keywordsDialogBox, #keywordsAutocompleteHead, li.keywordsAutocompleteTerm {
	background-color: #e7f7d5;
}

/* Concepts */

.conceptsColorA, #concepts dt {
	background-color: #ffffff;
}

.conceptsColorB, #concepts, #concepts dd, #conceptsDialogBox, #conceptsAutocompleteHead, li.conceptsAutocompleteTerm {
	background-color: #ffffff;
}

/* Aging */

.agingColorA, #aging dt {
	background-color: #ffffff;
}

.agingColorB, #aging, #aging dd, #agingDialogBox, #agingAutocompleteHead, li.agingAutocompleteTerm {
	background-color: #ffffff;
}
