/*--------- Boxen --------*/
li.boxes {
	margin: 0;
	padding: 0;
	clear: both;
	float: none;
}

dl.facetBox {
	/*border: 1px solid #adc1d9;*/
	color: #0;
	margin: 0;
	padding: 0;
}

dl.facetBox dt {
	padding: 5px 0px 0px 0px;
	cursor: move;
	overflow: hidden;
}

div.facetBoxHeaderContainer {
	
}

div.facetBoxHeaderLeft {
	width: 20px;
	float: left;
	height: 15px;
}

div.facetBoxHeaderMiddle {
	width: 70%;
	float: left;
	overflow: visible;
	font-weight: bold;
}

div.facetBoxHeaderRight {
	width: 15px;
	float: right;
	height: 15px;
}

div.facetBoxHeaderRight div {
	width: 15px;
	height: 15px;
	margin: 0px;
	padding: 0px;
	float: left;
	margin-right: 3px;
	/*	background: url(../images/ico_tree_disabled.png) top no-repeat; */
}

div.facetBoxHeaderEnd {
	width: 100%;
	clear: both;
	height: 0px;
}

span.facetBoxHeaderPath {
	padding: 0px;
	margin-left: 5px;
}

dl.facetBox dd {
	clear: both;
	margin: 0px;
	padding: 0px;
}

dl.facetBox dd ul {
	padding: 2px 0px 2px 10px;
	list-style-type: none;
	margin: 0;
}

ul.path {
	padding: 2px 10px 2px 10px;
	list-style-type: none;
	margin: 0px;
}

li.pathEntry {
	padding: 2px 2px 0px 2px;
	/* 	background: url(../images/path_rectangle.png) 0px 3px no-repeat; */
	white-space: nowrap;
}

li.pathEntry a, li.list a, li.tree a {
	margin-left: 9px;
	color: #2c4261;
	text-decoration: none;
}

li.pathEntry a:hover {
	text-decoration: underline;
}

li.first {
	padding-top: 0px;
}

li.tree {
	margin: 0 0 0 15px;
	padding: 0px 2px 2px 0px;
	/* 	background: url(../images/tree_rectangle.png) 0px 3px no-repeat; */
}

li.list {
	margin: 0 0 0 11px;
	padding: 0px 2px 2px 0px;
	/* 	background: url(../images/list_square.png) 0px 3px no-repeat; */
}

li.termlist-item:hover {
	background-color: #F6FAFF;
}

li.selected a span {
	font-weight: bold;
}

/* li.related { */
/* 	margin: 0 0 0 5px; */
/* 	padding: 0px 2px 2px 8px; */
/* 	background: url(../images/list_square.png) 0px 3px no-repeat; */
/* } */
li.pager {
	border: 1px solid #adc1d9;
	background-color: #eaeff5;
	padding: 2px;
	display: block;
	margin: 5px 0 5px 11px;
	width: 90%;
}

a.boxTitleLink {
	font-weight: bold;
	color: #2c4261;
	text-decoration: none;
}

a.boxTitleLink:hover {
	text-decoration: underline;
}

a.pathLink {
	font-weight: normal;
	color: black;
	text-decoration: none;
}

span.term {
	text-decoration: underline;
}

li a.labelLink {
	color: #292a3d;
	text-decoration: none;
}

/* a.labelLink:hover { */
/* 	text-decoration:underline; */
/* } */
div.boxFooterLeft {
	float: left;
	width: 40%;
}

div.boxFooterRight {
	float: right;
	width: 40%;
	margin-right: 10px;
	text-align: right;
}

div.boxFooterEnd {
	clear: both;
	width: 100%;
	height: 2px;
}

div.boxFooter {
	width: 100%;
}

div.boxFooterRight a, div.boxFooterLeft a {
	color: #0f57ae;
}

li.facetBoxLabelFilter {
	margin: 0 0 0 11px;
	/* 	padding-top: 3px; */
	/* 	height: 20px; */
	width: 90%
}

li.facetBoxLabelFilter input {
	/* 	height: 1.5em; */
	width: 100%;
	padding: 2px;
	margin: 0;
	border: solid 1px #adc1d9;
	font: inherit;
	font-size: .9em;
}

div.boxFooterMaximized {
	width: 100%;
}

div.boxFooterMaximizedLeft {
	float: left;
	width: 20%;
	margin-left: 20px;
}

div.boxFooterMaximizedMiddle {
	float: left;
	width: 25%;
	text-align: center;
}

div.boxFooterMaximizedRight {
	float: right;
	width: 35%;
	margin-right: 10px;
	text-align: left;
}

div.boxFooterMaximizedRight a, div.boxFooterMaximizedLeft a {
	color: #0f57ae;
}

div.boxFooterMaximizedPager {
	width: 100%;
	height: 1.25em;
	display: flex;
	align-items: center;
}

div.boxFooterMaximizedPagerLeft {
	/* 	float: left; */
	width: 1.5em;
	height: 1.5em;
	padding: 0px;
	display: flex;
	align-items: center;
}

div.boxFooterMaximizedPagerMiddle {
	/* 	float: left; */
	/* 	width: 50%; */
	flex-grow: 1;
	height: 1.5em;
	text-align: center;
	color: #2c4261;
}

div.boxFooterMaximizedPagerRight {
	/* 	float: right; */
	width: 1.5em;
	height: 1.5em;
	padding: 0px;
	hight: 20px;
	display: flex;
	align-items: center;
}

div.boxFooterMaximizedPagerRight a {
	/* Eliminates empty space at the right border (yes, right, although we remove the left margin) 
	of the facet box column. We want this to have the hover background-color effect
	on terms go up until the edge */
	margin-left: 0;
}

div.boxFooterMaximizedPagerRight .arrowrightbig, div.boxFooterMaximizedPagerLeft .arrowleftbig
	{
	/* Pushes down the paging arrows for terms a bit so they appear more centered */
	margin-top: .3em;
}

a.pagerNextLink {
	padding: 0px;
	margin: 0px;
	/* 	background: url(../images/ico_pager_right.png) top no-repeat; */
	text-decoration: none;
	/* 	font-size: 20px; */
	cursor: pointer;
	margin-right: 5px;
}

a.pagerPreviousLink {
	padding: 0px;
	margin: 0px;
	/* 	background: url(../images/ico_pager_left.png) top no-repeat; */
	text-decoration: none;
	/* 	font-size: 20px; */
	cursor: pointer;
	margin-left: 5px;
}

a.modeSwitchLinkTree {
	padding: 0px;
	margin: 0px;
	background: url(../images/ico_tree.png) top no-repeat;
	text-decoration: none;
	/* 	font-size: 20px; */
	cursor: pointer;
}

a.modeSwitchLinkList {
	padding: 0px;
	margin: 0px;
	background: url(../images/ico_list.png) top no-repeat;
	text-decoration: none;
	/* 	font-size: 20px; */
	cursor: pointer;
}

a.collapseLinkOpen {
	padding: 0px;
	margin: 0px;
	/* 	background: url(../images/ico_open.png) top no-repeat; */
	text-decoration: none;
	/* 	font-size: 20px; */
	cursor: pointer;
}

a.collapseLinkCollapsed {
	padding: 0px;
	margin: 0px;
	/* 	background: url(../images/ico_closed.png) top no-repeat; */
	text-decoration: none;
	/* 	font-size: 20px; */
	cursor: pointer;
}

a.expandLink {
	padding: 0px;
	margin: 0px;
	background: url(../images/ico_expand.png) top no-repeat;
	text-decoration: none;
	/* 	font-size: 20px; */
	cursor: pointer;
}

a.closeLink {
	padding: 0px;
	margin: 0px;
	background: url(../images/ico_close.png) top no-repeat;
	text-decoration: none;
	/* 	font-size: 20px; */
	cursor: pointer;
}

div.errorDialogContainer {
	border: solid 1px red;
	background: black;
	width: 800px;
	padding: 5px;
	padding-bottom: 15px;
}

div.errorDialogHead {
	color: red;
	border: solid 1px red;
	padding: 3px;
	font-weight: bold;
	background: white;
	font-family: serif;
}

div.errorCloseLink {
	text-align: right;
	text-decoration: underline;
	margin-top: 10px;
	color: white;
}