
dl.facetBox {
	display: inline-block;
	
}

dl.facetBox dt {
	cursor: default;	
}

#searchInputDiv {
	margin-left: 0;
}

#searchPanelDiv {
	margin-left: 0.5em;
}

div#searchButtonDiv {
	margin-top: 1px;

}

#lastTabSpace{
	width: auto;
	border-bottom : 1px solid #adc1d9;
	border-top : 1px solid #ffffff;
	height: 100%;
}

#tabHeader {	
	overflow: visible;	
}

#lastTabSpace div{
	width: 100%;
}
div.facetBoxLabelFilter {

	margin-left: 10px;

}

div.termFilterContainer span{
	padding: 0 2px 0 2px;
}

div.boxFooterMaximizedPagerLeft {	
	width: 22%;
}

div.boxFooterMaximizedPagerMiddle {	
	width: 56%;	
}

div.boxFooterMaximizedPagerRight {	
	width: 22%;

}


	