/* CSS Document */

/*----------- Global Layout Elements -------------------*/

body {
	margin: 0;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

#resultBar {
	position: absolute;
	z-index: -1;
	top: 11em;
	left: 0;
	width: 100%;
	height: 2em;
	background-color: #eaeff5;
	border-top: 1px solid #768daa;
}

#columnsContainer {
	min-width: 90em;
	max-width: 200em;
}

#leftColumn {
	float: left;
	margin-top: 5em;
	max-width: 40em;
	min-width: 30em;
}

#rightColumn {
	float: left;
	width: 50em;	
	margin-top: 5em;
	margin-left: 2em;
}

#logoContainer {
	height: 9em;
	padding-left: 1em;
}

#logoContainer img {
	width: 25em;
	height: 6.6em;
	margin-top: -2.5em;
}

#searchPanelDiv {
	height: 6em;
}

#searchInputDiv {
	float: left;
	width: 42em;
}

#searchInputDiv input {
	height: 1.6em;
	width: 100%;
	padding: 0;
	border: solid 1px #2b4b60;		
	margin: 0;
	vertical-align: top;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#searchButtonDiv {
	float: right;
	text-align: right;
}

#searchButtonDiv input {
	font-size: 10px;
	width: 7.6em;
	height: 2.1em;
}

#searchPanelDescription {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #a0a0a0;
}

#resultPanel {
	height: 2.8em;
	padding-top: 0.2em;
	text-align: right;
}

#resultPanel span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #314d63;	
}

/*----------- Context Tabs -------------------*/

#tabHeader {	
	margin: 0;
	padding: 0;				
	padding-bottom : 2px;
	height: 1.8em;
	clear: both;
	overflow: hidden;	
}

#tabHeader li {	
	list-style-type: none;	
	vertical-align: middle;
}

#tabHeader li a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2c4261;
	text-decoration: none;	
}

#lastTabSpace{
	width: 100%;
	border-bottom : 1px solid #adc1d9;
	border-top : 1px solid #ffffff;
	height: 100%;	
}

#lastTabSpace div{
	height: 20px;
	width: 10%;
}

li.tabSpace{
	border-top : 1px solid #ffffff;
	border-bottom : 1px solid #adc1d9;
	float: left;
	height: 100%;
}


li.firstTabActive, 
li.secondTabActive,
li.thirdTabActive,
li.fourthTabActive {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #e1fbd6;
	border: 1px solid #adc1d9;
	float: left;
	height: 100%;	
	font-weight: bold;
}

li.firstTabInActive, 
li.secondTabInActive,
li.thirdTabInActive,
li.fourthTabInActive {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #c1d7f0;
	border: 1px solid #adc1d9;
	float: left;
	height: 100%;	
}


li.firstTabActive {	
	border-bottom : 1px solid #e1fbd6;
	border-left : 1px solid #e1fbd6;
}

li.firstTabInActive {
	border-left : 1px solid #c1d7f0;
}

li.secondTabActive {	
	border-bottom : 1px solid #e1fbd6;
}

li.thirdTabActive {	
	border-bottom : 1px solid #e1fbd6;
}

li.fourthTabActive {
	border-bottom : 1px solid #e1fbd6;
}

div#firstTabContainer,
div#secondTabContainer,
div#thirdTabContainer,
div#fourthTabContainer {
	background-color: #e1fbd6;
	padding: 5px;
	margin: 0px;
	border-right: 1px solid #adc1d9;
	border-bottom: 1px solid #adc1d9;
	float: none;
}

div.tabFooter {
	height: 1em;
	margin:  0 0 3px 10px;
}

div.tabFooterLeft {
	float: left;
	line-height: 1em;
}
div.tabFooterLeft img{ 
	vertical-align: middle;
}

div.tabFooterRight {
	margin-left: 5px;
	float: left;
}

div.tabFooterRight a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0f57ae;
}

ul#firstTab, ul#secondTab, ul#thirdTab {
	list-style-type: none;
	margin: 0;
	padding: 0; 
}

/*--------- Boxen --------*/

li.boxes {
	margin: 0;
	padding: 0;	
	clear: both;
	float: none;
}

dl.facetBox {
	border: 1px solid #adc1d9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0;
	margin: 0 0 5px 0;
	padding: 0;
}

dl.facetBox dt {
	padding: 5px 5px 5px 5px;
	cursor: move;
	overflow: hidden;
}

div.facetBoxHeaderContainer{
}

div.facetBoxHeaderLeft {
	width: 7%;
	float: left;
	height: 15px;
}

div.facetBoxHeaderMiddle {
	width: 70%;
	float: left;
	overflow: visible;
	font-weight: bold;
}

div.facetBoxHeaderRight {
	width: 15px;
	float: right;
    height: 15px;
}

div.facetBoxHeaderRight div{
	width: 15px;
	height: 15px;
	margin: 0px;
	padding: 0px;
	float: left;
	margin-right: 3px;
	background: url(../images/ico_tree_disabled.png) top no-repeat;
}

div.facetBoxHeaderEnd{
	width: 100%;
	clear: both;
	height: 0px;
}

span.facetBoxHeaderPath {
	padding: 0px;
	margin-left: 5px;
}

dl.facetBox dd {
	clear: both;
	margin: 0px;
	padding: 0px;
}

dl.facetBox dd ul{
	padding: 2px 10px 2px 10px;
	list-style-type: none;
	margin:0;
}

ul.path{
	padding: 2px 10px 2px 0px;
	list-style-type: none;
	margin:0px;	
}

li.pathEntry{
	padding: 0px 2px 2px 12px;	
	background: url(../images/path_rectangle.png) 0px 5px no-repeat;	
	white-space: nowrap;
}

li.tree{
	margin: 0 0 0 15px;
	padding: 0px 2px 2px 8px;	
	background: url(../images/tree_rectangle.png) 0px 5px no-repeat;	
}

li.list{
	margin: 0 0 0 15px;
	padding: 0px 2px 2px 8px;	
	background: url(../images/list_square.png) 0px 5px no-repeat;	
}

li.related{
	margin: 0 0 0 5px;
	padding: 0px 2px 2px 8px;	
	background: url(../images/list_square.png) 0px 5px no-repeat;	
}


a.boxTitleLink{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

a.pathLink{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: black;
	text-decoration: none;

}

span.term{
	text-decoration: underline;
}

a.labelLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #292a3d;
	text-decoration: none;

}

div.boxFooterLeft {	
	float: left;
	width: 40%;
}

div.boxFooterRight {	
	float: right;
	width: 40%;
	margin-right: 10px;
	text-align: right;
}

div.boxFooterEnd {	
	clear:both;
	width: 100%;
	height: 2px;
}

div.boxFooter {
	width: 100%;
}

div.boxFooterRight a, div.boxFooterLeft a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0f57ae;
}

div.facetBoxLabelFilter {
	padding-top: 3px;
	height: 20px;
}

div.facetBoxLabelFilter input{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 17px;
	width: 150px;
	padding: 0;
	margin: 0;
	border: solid 1px #adc1d9;	
}

div.boxFooterMaximized {
	width: 100%;
}

div.boxFooterMaximizedLeft {	
	float: left;
	width: 20%;
	margin-left: 20px;
}

div.boxFooterMaximizedMiddle {	
	float: left;
	width: 25%;	
	text-align:center;
}

div.boxFooterMaximizedRight {	
	float: right;
	width: 35%;
	margin-right: 10px;
	text-align: left;
}

div.boxFooterMaximizedRight a, div.boxFooterMaximizedLeft a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0f57ae;
}

div.boxFooterMaximizedPager {
	width: 100%;
}

div.boxFooterMaximizedPagerLeft {	
	float: left;
	width: 25%;
	padding: 0px;
}

div.boxFooterMaximizedPagerMiddle {	
	float: left;
	width: 50%;	
	text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

div.boxFooterMaximizedPagerRight {	
	float: right;
	width: 25%;
	text-align: right;
	padding: 0px;
	hight: 20px;
}

a.pagerNextLink{
	padding: 0px;
	margin: 0px; 
	background: url(../images/ico_pager_right.png) top no-repeat;
	text-decoration: none;
	font-size: 20px;
	cursor:pointer;	
}

a.pagerPreviousLink{
	padding: 0px;
	margin: 0px; 
	background: url(../images/ico_pager_left.png) top no-repeat; 
	text-decoration: none;
	font-size: 20px;
	cursor:pointer;	
	
}

a.modeSwitchLinkTree{
	padding: 0px;
	margin: 0px; 
	background: url(../images/ico_tree.png) top no-repeat; 
	text-decoration: none;
	font-size: 20px;
	cursor:pointer;		
}

a.modeSwitchLinkList{
	padding: 0px;
	margin: 0px; 
	background: url(../images/ico_list.png) top no-repeat; 
	text-decoration: none;
	font-size: 20px;
	cursor:pointer;		
}

a.collapseLinkOpen{
	padding: 0px;
	margin: 0px; 
	background: url(../images/ico_open.png) top no-repeat; 
	text-decoration: none;
	font-size: 20px;
	cursor:pointer;		
}

a.collapseLinkCollapsed{
	padding: 0px;
	margin: 0px; 
	background: url(../images/ico_closed.png) top no-repeat; 
	text-decoration: none;
	font-size: 20px;
	cursor:pointer;		
}

a.expandLink{
	padding: 0px;
	margin: 0px; 
	background: url(../images/ico_expand.png) top no-repeat;
	text-decoration: none;
	font-size: 20px;
	cursor:pointer;		
}

a.closeLink{
	padding: 0px;
	margin: 0px; 
	background: url(../images/ico_close.png) top no-repeat; 
	text-decoration: none;
	font-size: 20px;
	cursor:pointer;		
}

div.errorDialogContainer{
	border: solid 1px red;
	background: black;
	width: 800px;
	padding: 5px;
	padding-bottom: 15px;
}

div.errorDialogHead{
	color: red;
	border: solid 1px red;
	padding: 3px;
	font-weight: bold;
	background: white;
	font-family: serif;
}

div.errorCloseLink{
	text-align: right;
	text-decoration: underline;
	margin-top: 10px;
	color: white;
}

/*------------------ Filter Box ---------------------- */

/* check for the following entities:
	xxxAutocompleteTerm
	xxxAutocompleteHead
	xxxDialogBox
*/

.autocompleteTerm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 5px 0px 4px 20px;
	border-bottom: 1px dotted gray;
	cursor: pointer;
}

.filterBox, .disambiguationBox {
	border: 1px solid #6d829c;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-top: 5px;
}

.filterBoxContainer {
	width: 100%;
	/*margin-left: 1%;*/
	border: 0;
	padding: 0;
	clear: both;
}

.filterBox {
	min-width: 20%;
	padding: 5px;
	padding-right: 30px;
	float: left;
}

.disambiguationBox {
	margin-top: 5px;
	margin-bottom: 0px;
}

.disambiguationBox dt {
	display: block;
	padding: 5px;
}

.disambiguationBox dd {
	margin: 0px;
	display: block;
}


#filterBox {
	border: 1px solid #adc1d9;
	padding: 0.5em;
	background-color: #f7f7d5;
	font-size: 12px;
	color: #333366;	
}

#filterBox a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0f57ae;
}

#filterBox .disambiguationBox a {
	color: #292a3d;
}

div.termFilterContainer {
	margin-top: 12px;
	padding: 0 2px 0 2px;	
}

div.filterLeft{
	margin-top: 5px;
	padding: 3px 3px 3px 30px;
	float: right;
	margin-right: 20px;
	text-indent: -10px;
	overflow: visible;
	width: 250px;
}

span.queryTerm{
	font-weight: bold;
}

div.filterRight{
	width: 15px;
	height: 15px;
	margin-left: -20px;
	margin-top: 10px;
	float: left;
}

.filterRight img {
	vertical-align: middle;
}

#filterHeader{
	float: none;
	width: 100%;	
}

#filterFooter{
	padding-top: 10px;
}

#sortPanel{
	float: right;
	width: 18em;
}

#sortPanel form{
	display: inline;
	margin: 0px;
	padding: 0px;
}

#sortPanel select{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 17x;
	width: 13.5em;
	color: #333366;
	border: 1px solid #adc1d9;
	background-color: #fefee9;
}

/*------------------ Query Panel --------------------------------*/

ul.ambigueTermList{
	padding: 2px 10px 2px 10px;
	list-style-type: none;
	margin:0;
}

ul.ambigueTermList li{
	padding: 0px 2px 2px 8px;	
	background: url(../images/list_square.png) 0px 5px no-repeat;
	overflow: visible;	
}

div.disambiguationCloseContainer{
	margin-top: 5px;
}

div.disambiguationPanel{
	width: 60%;
	padding: 5px;
	margin-top: 5px;
	background-color: #e7f7d5;
	border: 1px solid #adc1d9;
}

a.disambiguationPanelClose{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0f57ae;
}

/*-------------------- Hit List ------------------------*/

div.evenHit, div.oddHit {
	margin: 0.5em 0;
	border: 1px dotted #d0d0d0;
	padding: 0.8em;		
}

div.oddHit {
	background-color: #f4f7fa;
}

div.hitTitleContainer {
	margin-left: 1.5em;
}

div.hitTitle, div.hitJournal, div.hitAuthors {
	/*margin: 0 1em 0.5em 1em;*/
}

div.hitTitle, div.hitJournal {
	margin-left: 1em;
}

div.hitTitle a {
	font-size: 14px;
	color: #0f57ae;
	text-decoration: underline;
}

span.reviewMarker {
	margin-right: 4px;
	padding: 1px 2px 0px 2px;
	background-color: #0f57ae;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #fff;
}

div.hitSummary {
	clear: both;
	margin-top: 0.5em;
	font-size: 12px;	
}

div.hitSummary a {
	font-size: 12px;
	color: #0f57ae;
	text-decoration: none;
}

div.hitSummary ul{
	margin: 0;	
	padding: 0;
	list-style-type: none;
	font-size: 12px;
	color: #000000;	
}

div.hitSummary ul li{
	margin: 0.2em 0 0 0;
	padding: 0 0 0 1em;	
	background: url(../images/list_square.png) 0 0.5em no-repeat;	
}

div.hitJournal {
	margin-bottom: 0.5em;
	font-size: 11px;
	color: #333333;
}

span.publicationTitle{
	font-style: oblique;
}

div.hitAuthors {
	margin-bottom: 0.5em;
	font-size: 12px;
	color: #333333;
}

span.highlight {
	font-weight: bold;
}

span.titleHighlight {
	font-weight: bolder;
}

div.emptyResult {
	border: 1px solid #adc1d9;
	padding: 0.8em;
	background-color: #f7f7d5;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333366;
}

div.hitIconAbstract, div.hitIconTitle, div.hitIconFull {
	float: left;
	width: 2em;
	height: 3.2em;
	margin-top: 0.4em;
	margin-left: 0em;
}

div.hitIconAbstract {
	background: transparent url(../images/hitico_abstract.png) no-repeat scroll center top; 
}

div.hitIconTitle {
	background: transparent url(../images/hitico_title.png) no-repeat scroll center top; 
}

div.hitIconFull {
	background: transparent url(../images/hitico_full.png) no-repeat scroll center top; 
}

/*------------- Pager -------------------- */

#pager {
	margin: 1em 0;
	border-top: solid 1px #adc1d9;
	padding-top: 0.5em;
	text-align: center;
}

#pager a {
	padding: 0 0.5em;
	font-size: 12px;
	color: #314d63;
}

#pager a.next, #pager a.prev {
	font-weight: bold;
	text-decoration: none;
}


#pager .current {
	padding: 0 0.5em 0.2em 0.5em;
	background-color: #adc1d9;
	font-size: 12px;
	color: #ffffff;
}

/*--------------- Configure Content Information Dialogue ----------------*/

#bioMedConfigure {
	background-color: #e1fbd6;
}
#immunologyConfigure {
	background-color: #e1fbd6;
}

#bibliographyConfigure {
	background-color: #e1fbd6;
}

div.configureTabDialogueHead {
	height: 2em;
	width: 35em;
	border: 1px solid #adc1d9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2c4261;
	padding-top: 0.6em;
}
#configureTabDialogueHeadLeft{
	float:left;
	width: 15px;
	margin-left: 7em;
	margin-right: 0.5em;
}
#configureTabDialogueHeadRight{
	text-align:left;
}

#configureTabDialogueContent {
	width: 35em;
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #adc1d9;
	border-right-color: #adc1d9;
	border-bottom-color: #adc1d9;
	border-left-color: #adc1d9;
	padding-top: 30px;
	padding-bottom: 1em;
}

#configureTabDialogueInner {
	width: 31em;
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #adc1d9;
	margin: 2em 2em 1em 2em;
}
div.configureTabDialogueFacet {
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	border: 1px solid #adc1d9;
	margin: 0.5em;
	padding-bottom: 0em;
}
div.configureTabDialogueFacetLabel {
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	margin-left: 1.8em;
	padding-left: 0.5em;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
}
div.configureTabDialogueFacetLeft {
	float: left;
	padding: 0.1em 0.1em 0.1em 0.1em;
	margin-bottom: 0.5em;
}

#configureTabDialogueBtnContainer{
	text-align: right;
	margin-right: 2em;
}

/*--------------- Tooltips ----------------*/

a.tip {
	position: relative;
	
}

a.tip span {
	display: none;
	position: absolute;
	top: 20px;
	left: -10px;
	width: 17em;
	padding: 5px;
	z-index: 1000;
	background: #fefbe6;
	border: 1px solid black;
	color: #0;
	-moz-border-radius: 5px; /* this works only in camino/firefox */
	-webkit-border-radius: 5px; /* this is just for Safari */
}

/*---------------- Article Detail -------------*/

#articleDetail {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin: 5px 0 5px 0;
	padding: 10px;	
	border: 1px dotted #d0d0d0;
}

#articleDetail a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0f57ae;
}


#articleTitle {
	background-color: #f0f0f0;
	padding: 3px;
	font-weight: bold;
	border-left: 1px solid #a0a0a0;
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px dotted #a0a0a0;
	border-right: 1px solid #a0a0a0;
}

#publicationTitle{
	color: #4d4b7a;
	font-weight: bold;
}

#publicationDetails{
	padding: 3px;
	margin-bottom: 15px;
}

#articleAuthors{
	margin-bottom: 10px;
	background-color: #eaebf7;
	padding: 3px;
	border-left: 1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
}

#articleText{
	padding: 3px;
	margin-bottom: 10px;
}

#pubmedContainer, #relatedArticles, #externalLinks{
	padding: 3px;
	border: 1px solid #a0a0a0;
	background-color: #fff;
}

#pubmedContainer{
	padding-bottom: 5px;
}

#pubmedId{
	width: 150px;
}

#pubmedLinkPanel{
	float: right;
	margin-left: 20px;
	padding-left: 60px;	
	background: url(../images/pubmed-logo.gif) 0px -3px no-repeat;
	width: 145px;
	color: #0e478b;
	text-decoration: underline;
	height: 18px;	
}

#relatedArticles{
	margin-top: -1px;
	border-top-style: dotted;
}

#relatedArticles ul{
	margin: 3px;
	padding: 0px;
	list-style: none;
}

#externalLinks {
	margin-top: -1px;
	border-top-style: dotted;
}

span.highlightFull{
	background-color: #fffeba;
}
#backLinkPanel{
	margin-left: 10px;
}