/* CSS Document */
/* Layout query page*/
/* #content { */
/* 	max-width: 42em; */
/* 	min-width: 33%; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* } */

#header {
	text-align: right;
	padding-right: 5px;
	margin-bottom: 40px;
}

#header span {
	margin-left: 5px;
}

#logoDiv {
	/* 	margin-bottom: 15px; */
	/* 	margin-left: 25px; */
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 540px;
}

/* #searchDiv { */
/* 	margin-top: 50px; */
/* } */

#warningPanel {
	padding: 3px;
	color: red;
	width: 540px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15em;
	border: 1px solid red;
}

#linkPanel {
	text-align: right;
	background-color: #eaeff5;
	width: 100%;
	border-bottom: 1px solid #768daa;
	padding: 6px 0;
}

#linkPanel a {
	color: #0e478b;
	text-decoration: none;
	margin-left: 20px;
}

#infoPanel {
	font-size: .75em;
	color: #a0a0a0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30em;
	border-top: 1px solid #a0a0a0;
	clear: both;
}

#infoPanel a {
	color: #a0a0a0;
	text-decoration: underline;
}

#contactLabel {
	margin-top: 5px;
	float: left;
	padding-top: 1px;
	padding-right: 3px;
}

#contactAddress {
	margin-top: 5px;
	float: left;
	padding-right: 3px;
}

#disclaimer {
	margin-top: 5px;
	padding-top: 1px;
}


/*Deprecated?*/
.label, .leftlabel {
	padding-right: .2em;
}
/*Deprecated?*/
.label {
	padding-left: 1em;
}

