<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/query-disambiguate.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -
				%msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE_BP_CLASSES" class="ch.qos.logback.core.FileAppender">
		<file>log/bioPortalClassesDownload.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -
				%msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE_BP_MAPPINGS" class="ch.qos.logback.core.FileAppender">
		<file>log/bioPortalMappingsDownload.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -
				%msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.apache.http" level="INFO" />
	<logger name="org.apache.tapestry5" level="ERROR" />
	<logger name="de.julielab.semedico.bioportal.BioPortalMappingsDownloader"
		level="DEBUG">
		<appender-ref ref="FILE_BP_MAPPINGS" />
	</logger>
	<logger name="de.julielab.semedico.bioportal.BioPortalOntologiesDownloader"
		level="DEBUG">
		<appender-ref ref="FILE_BP_CLASSES" />
	</logger>
	<logger name="de.julielab.semedico.bioportal.BioPortalAPI" level="DEBUG" />

	<logger name="de.julielab.semedico.SemedicoResourceModule.ITermDatabaseIndexCreator"
		level="TRACE" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>