#columnsContainer {
	min-width: 900px;
	max-width: 2000px;
	margin-left: 50px;
	background-color: green;
}

#leftColumn {
	float: left;
}

#rightColumn {
	float: left;
	margin-left: 200px;
	margin-top: 100px;
	font-size: 12px;
}

#numPairs, #numTop, .termInput {
	font-size: 11px;
}

.toleft {
	float: left;
}

.toright {
	float:right;
}