dl#facetconceptfilter dd ul {
	list-style: none;
	padding:2px 20px;
	margin:0;
}

dl#facetconceptfilter dt div {
	display:inline-block;
}

dl#facetconceptfilter dd {
	margin:0;
}

dl#facetconceptfilter dt div#left {
	float: left;
	width:20px;
}

dl#facetconceptfilter dt div#middle {
	font-weight:bold;
	color:#2c4261;
}

dl#facetconceptfilter dd li {
	font-weight:bold;
	color:#2c4261;
}

dl#facetconceptfilter dd li div.remove{
	display:inline-block;
	color:#2c4261;
}