/* #documentationLink { */
/* 	float: right; */
/* 	color: #0e478b; */
/* 	text-decoration: none; */
/* 	margin-top:12px; */
/* } */

/* #documentationLink span { */
/* 	vertical-align: middle; */
/* 	display: inline-block; */
/* 	height: 100%; */
/* } */

#pageTabsPanel {
	padding-right: 10px;
	text-align: right;
	width: 100%;
	/* to avoid following elements to overlap with the box-shadow */
	position: fixed;
	/* to prevent other divs from appearing above the tabsPanel */
	z-index: 999;
	top:0;
}

#pageTabsPanel a.documentation {
	color: #0e478b;
	text-decoration: none;
	display: block;
}

#pageTabsPanel ul#tabList {
	float: left;
	padding: 0;
	margin: 0;
}

#pageTabsPanel #tabList li {
	display: block;
	float:left;
}

#pageTabsPanel #tabList li > a {
	display: inline;
	float: left;
	padding: 15px;
	margin: 0; border-right : 1px solid #768daa;
	text-decoration: none;
	border-right: 1px solid #768daa;
}

a.inactiveTab, .addTab a {
	color: #0e478b;
	
}

#pageTabsPanel #tabList li a.activeTab {
	background-color: #768daa;
	color: #fff;
}

#pageTabsPanel #tabList li > a:hover {
	background-color: #768daa;
	color: #fff;
}

.addTab {
	position:relative;
}

#pageTabsPanel #tabList ul.submenu {
	position:absolute;
	top: 46px;
	text-align: left;
	background-color: #eaeff5;
	overflow: visible !important;
	list-stlye: outside none none;
	z-index: 600;
	padding:0;
	border: 1px solid #768daa;
}

#pageTabsPanel #tabList .addTab .submenu {
	display:none;
}

#pageTabsPanel #tabList .addTab:hover .submenu {
	display:block;
}

#pageTabsPanel #tabList .addTab .submenu a {
	display:block;
	float:none;
	border:none;
	padding:0;	
	color: #0e478b;
	width: 200px;
	padding: 2px 4px;
	cursor: pointer;
}

#pageTabsPanel #tabList .submenu a:hover {
	background-color:#768daa;
	color: white;
}